div[header] {
  background-color: rgb(0, 240, 240);
  display: flex;
  padding: 18px 50px;
  box-sizing: border-box;
  border-radius: 0 0 16px 16px;
  align-items: center;
  justify-content: space-between;
}

div[header] .logo {
  width: 160px;
  height: 40px;
}

div[header] .header-nav {
  display: flex;
  align-items: center;
}

div[header] .header-nav app-tui-input-search {
  width: 320px;
  margin-right: 5px;
}

div[header] .header-nav app-tui-button {
  margin-right: 4px;
}

