.header {
  background-color: rgb(12, 12, 12);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 18px 50px;
  box-sizing: border-box;
  border-radius: 0 0 16px 16px;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 58.4px 0px rgba(255, 106, 0, 1);
  -moz-box-shadow: 0px 4px 58.4px 0px rgba(255, 106, 0, 1);
  box-shadow: 0px 4px 58.4px 0px rgba(255, 106, 0, 1);
}

.header__left-part {
  display: flex;
  align-items: center;
  gap: 70px;
}

.header__logo {
  width: 160px;
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__input-search {
  width: 320px;
  margin-right: 5px;
}
