<div class="cities-page">
  <app-tui-breadcrumbs [items]="breadcrumbsItems"></app-tui-breadcrumbs>
  <h1 class="cities-page__region">
    Московкая область
  </h1>
  <div class="cities-page__cities-list">
    <app-tui-secondary-button
    class="cities-page__cities-card"
    *ngFor="let city of cities"
    [buttonIconLeft]="city.buttonIconLeft"
    [buttonIconRight]="city.buttonIconRight"
    [buttonText]="city.buttonText"
    [size]="city.size"
    >
    </app-tui-secondary-button>
  </div>
</div>
