.cities-page {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  box-sizing: border-box;

  &__region {
      margin: 13px 0;
      margin-bottom: 26px;
      font-size: 52px;
      line-height: 44px;
      text-transform: uppercase;
  }

  &__cities-list {
      display: flex;
      gap: 10px;
  }
}
