<a 
    class="event-card__link"
    tuiAppearance="link"
    [routerLink]="routerLink"
>
    <div
        class="event-card"
        tuiAppearance="floating"
        tuiCardLarge="normal"
    >
        <header tuiHeader>
            <img class="event-card__image" [src]="image" [alt]="title" />
            <div class="event-card__name">
                <h4 class="event-card__title">{{ title }}</h4>
                <h4 class="event-card__place">{{ place }}</h4>
            </div>
        </header>
        <main class="event-card__date-price">
            <h4 class="event-card__date">
                <!-- [x] TODO: Вывести дату события в формате "Ср, 12 Марта | 12:00" с заглавными буквами -->
                {{ date | date:'EE, d MMMM | HH:mm' | titlecase }}
            </h4>
            <h4>
            {{ price }}
            </h4>
        </main>
        <footer>
            <div class="event-card__tags">
                <app-tui-chip class="event-card__tag" *ngFor="let tag of tags" [value]="tag"></app-tui-chip>
            </div>
        </footer>
    </div>

</a>
