.tui-event-card {
  background-color: transparent;
  width: 350px;
  display: flex;
}

.image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.tui-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tui-title {
  margin-top: auto;
  margin-bottom: auto;
}

.tui-place {
  margin-top: auto;
  margin-bottom: auto;
  color: rgba($color: #ffffff, $alpha: 0.6);
}

.date-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-date {
  color: rgba($color: #E38163, $alpha: 1);
}

.event-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

h4 {
  margin: 0px;
}
