<div
    class="tui-event-card"
    tuiAppearance="floating"
    tuiCardLarge="normal"
>
    <header tuiHeader>
        <img class="image" [src]="eventImage" [alt]="eventTitle" />
        <div class="tui-name">
            <h4 class="tui-title">{{ eventTitle }}</h4>
            <h4 class="tui-place">{{ eventPlace }}</h4>
        </div>
    </header>
    <main class="date-price">
        <h4 class="event-date">
            <!-- TODO: Вывести дату события в формате "Ср, 12 Марта | 12:00" -->
            {{ eventDate | date:'EEEE, d MMMM | HH:mm' }}
        </h4>
        <h4>
        {{ eventPrice }}
        </h4>
    </main>
    <footer>
        <div class="event-tags">
            <app-tui-chip class="event-tag" *ngFor="let tag of eventTags" [value]="tag"></app-tui-chip>
        </div>
    </footer>
</div>
