<div class="page-content">
    <app-tui-breadcrumbs [items]="breadcrumbsItems"></app-tui-breadcrumbs>
    <h1>
        Популярные<br>события в<br>
        <span class="title__city-location">{{ cityLocation }}</span>
    </h1>
    <div class="events-list">
        <app-tui-event-card 
            class="event-card" 
            *ngFor="let event of events"
            [image]="event.image"
            [title]="event.title"
            [place]="event.place"
            [date]="event.date"
            [price]="event.price"
            [tags]="event.tags"
            [routerLink]="event.routerLink"
        >
        </app-tui-event-card>
    </div>
    <app-tui-secondary-button
        class="more-events-button" 
        [buttonText]="moreEventsButtonText" 
        [buttonIcon]="moreEventsButtonIcon"
    >
    </app-tui-secondary-button>
</div>

