<div class="page-content">
    <app-tui-breadcrumbs [items]="breadcrumbsItems"></app-tui-breadcrumbs>
    <h1>
        Популярные<br>события в<br>
        <span class="title__city-location">{{ cityLocation }}</span>
    </h1>
    <app-tui-event-card></app-tui-event-card>
    <!-- <ul class="events-list">
        <li *ngFor="let event of events">
            <app-tui-event-card [event]="event"></app-tui-event-card>
        </li>
    </ul> -->
    <app-tui-secondary-button
        class="more-events-button" 
        [buttonText]="moreEventsButtonText" 
        [buttonIcon]="moreEventsButtonIcon"
    >
    </app-tui-secondary-button>
</div>

