<div class="home-page">
    <app-tui-breadcrumbs [items]="[{ caption: 'Главная', routerLink: '/home' }]"></app-tui-breadcrumbs>
    <h1 class="home-page__title">
        Популярные<br>события в<br>
        <span class="home-page__city-location">{{ city.name | cityDeclension }}</span>
    </h1>
    <div class="home-page__events-list">
        <app-tui-event-card
            class="home-page__event-card"
            *ngFor="let event of events"
            [image]="event.image"
            [title]="event.title"
            [place]="event.place"
            [date]="event.date"
            [price]="event.price"
            [tags]="event.tags"
            [routerLink]="event.routerLink"
        ></app-tui-event-card>
    </div>
    <app-tui-secondary-button
        class="home-page__more-events-button"
        size="l"
        [buttonText]="moreEventsButtonText | cityDeclension"
        [buttonIconRight]="'@tui.corner-down-right'"
        [routerLink]="['/home/cities', city.id]"
        [queryParams]="{ name: city.name }"
    ></app-tui-secondary-button>
</div>